@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: white;
  font-size: 15px;
  color: #9e9aa8;
  line-height: 26px;
  font-weight: 500;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 165px;
}
.btn {
  padding: 9px 24px;
  border-radius: 28px;
  background-color: #2bd0d0;
}

.btn a {
  color: white;
  font-weight: 700;
}

.btn-outline {
  background-color: transparent;
}

.btn-outline a {
  color: #9e9aa8;
}

.header {
  padding-top: 48px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left-wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header-logo {
  display: flex;
  align-items: center;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav a {
  font-weight: 700;
  color: #9e9aa8;
}

.header-nav a:hover {
  cursor: pointer;
  color: #2bd0d0;
}

.header .right-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
